body {
background-image: url(fruit.jpg);

}
.container {
    background-color:    #fda403;
    margin: 30px auto;
    width: 600px;
    text-align: center;
    border-radius: 5px;
    border: 10px solid rgba(192, 241, 93, 0.4);
border-radius: 20px;
    }
    h1 {
        font-size:  45px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:  #fd5959;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    form{
    padding-top: 15px;
    font-size: 20px;
    }

    .instructions {
margin-left: 15px;
padding: 5px 5px;
width:300px;
background-color:#fd5959;
color: azure;
font-weight: bolder;
    }

    .submit-button {
        margin-left: 10px;
        background: #fd5959;
        color: black;
        border: none;
        width: 100px;
        font-size: 16px;
        border-radius: 10px;
        padding: 10px 10px;
      }

      .recipe {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
display: block;
padding-bottom: 50px;
      }
      
      .example {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        padding-top: 10px;
    
        margin: 0 auto;
   font-style: italic;
        }


      footer {
display: block;
margin: 30px auto;
width: 600px;
text-align: center;
font-size: 12px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }